{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<body>
  <title>Flask-SocketIO Test</title>
  <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      
      var socket = io();
      socket.emit('click data recv', 'I\'m connected!');
      
    });
  </script>
</body>
<p>Home page for the Visual Studio Code Flask tutorial.</p>

<body>
<h2>Send:</h2>
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Echo">
    </form>
</body>
{% endblock %}