{% extends "template.html" %}
{% block tab_header %}
<body>
    <div class="tabHeader">
        <div class="checkboxActivate">
            <label class="btn btn-secondary active">
                <input type="radio" name="options" id="motion" value="motion" checked> Track Motion
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="clicks" value="clicks"> Track Clicks
            </label>
          <div class="reset">
            <button type="button" class="btn btn-secondary" id="reset_button"> Reset</button><br>
          </div>
        </div>
    </div>
</body>
{% endblock %}
{% block script %}
<body>
    <canvas id="myCanvas">
        Your browser does not support the HTML canvas tag.
    </canvas>
    <script src="{{ url_for('static', filename='js/heatmap.js')}}"></script>
</body>
{% endblock %}