<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <title>Heatmap Presentation</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='imgs/HeatHeader.png')}}"> 
  <body>
    <div class="tabHeader">
      <div class="checkboxActivate">
        <div class="radioBox">
          <div class="motionBox">
            <input type="radio" id="motion" name="reset" value="motion">
            <label for="motion" style:"display: inline">Track Motion</label><br>
          </div>
          <div class="clickBox">
            <input type="radio" id="clicks" name="reset" value="clicks">
            <label for="clicks" style:"display: inline">Track Clicks</label><br>
          </div>
        </div>
        <div class="reset">
          <input type="radio" id="reset" name="reset" value="reset">
          <label for="reset"> reset</label><br>
        </div>
      </div>
    </div>
    <div class="header-main">
      <div class="menu">
        <ul>
          <li class="logo"><img src="{{ url_for('static', filename='imgs/DatBoi.png')}}"></li>
          <li><p>Home</p></li>
          <div class="vertical-line"></div>
          <li><p>About Us</p></li>
          <div class="vertical-line"></div>
          <li><p>Job Search</p></li>
        </ul>
        <div class="menu"> 
            <h1 class="company-title">Pedantic</h1> 
        </div> 
        <ul class="floatright">
          <li><img src="{{ url_for('static', filename='imgs/User.png')}}" class="AccountLogo"></li>
          <li><a href="#" class="LogIn">Account</a></li>
        </ul>
      </div>
    </div>

    <div class="body-main">
      <div id="statement">
        <p id="mouse_click"></p>
        <p id="mouse_move"></p>
      </div>

      <div class="interactives">

        <div class="searchbox">
          <input type="text" placeholder="Job title or keyword">
        </div>

        <div class="radiobox">
          <p>Please select your gender:</p>
          <input type="radio" id="male" name="gender" value="male">
          <label for="male">Male</label><br>
          <input type="radio" id="female" name="gender" value="female">
          <label for="female">Female</label><br>
          <input type="radio" id="other" name="gender" value="other">
          <label for="other">Other</label><br>
        </div>

        <div class="checkbox">
          <p>Please select your salary range:</p>
          <input type="checkbox" id="range1" name="range1">
          <label for="range1"> < $50,000</label><br>
          <input type="checkbox" id="range2" name="range2">
          <label for="range2"> $50,000 - $250,000</label><br>
          <input type="checkbox" id="range3" name="range3">
          <label for="range3"> > $250,000</label><br>
        </div>
      </div>

      <div class="dropdown"> 
        <p>Please select where you live:</p> 
        <select name="opt"> 
          <option value="a">Dallas</option> 
          <option value="b">Houston</option> 
          <option value="c">San Antonio</option> 
        </select><br>
        </head>
      </div>

      <div class="spacer"></div>

      <div class="job-listings">
          <div class="job">
            <img src="{{ url_for('static', filename='imgs/ConstructionEngineer.png')}}" class="jobImage">
            <a href="#" class="jobTitle"><h3>Electrical Engineer</h3></a>
            <div class="salary"> 
                <p>Salary: $36,080</p> 
            </div>
            <div class="jobType"> 
                <p>Job Type: Form Setter</p> 
            </div> 
            <div class="jobDescription"> 
                <p>Description: Pouring concrete then leveling<br> 
                the concrete to the proper specifications</p> 
            </div> 
          <img src="{{ url_for('static', filename='imgs/LikeHeart.png')}}" class="likeImage"> 
          </div>
          <div class="job">
            <img src="{{ url_for('static', filename='imgs/MechanicalEngineer.png')}}" class="jobImage"> 
            <a href="#" class="jobTitle"><h3>Cisco</h3></a> 
            <div class="salary"> 
              <p>Salary: $253,000</p> 
            </div> 
            <div class="jobType"> 
              <p>Job Type: Chief Financial Officer</p> 
            </div> 
            <div class="jobDescription"> 
              <p>Description: the senior executive responsible <br> 
                for managing the financial actions of a company</p> 
            </div> 
            <img src="{{ url_for('static', filename='imgs/LikeHeart.png')}}" class="likeImage"> 
          </div>
          <div class="job">
            <img src="{{ url_for('static', filename='imgs/McDonalds.png')}}" class="jobImage"> 
            <a href="#" class="jobTitle"><h3>McDonalds</h3></a> 
            <div class="salary"> 
              <p>Salary: $56,000</p> 
            </div> 
            <div class="jobType"> 
              <p>Job Type: Operations Associate</p> 
            </div> 
            <div class="jobDescription"> 
              <p>Description: Assist the Operations Manager<br> 
                in completing clerical and administrative tasks</p> 
            </div> 
            <img src="{{ url_for('static', filename='imgs/LikeHeart.png')}}" class="likeImage">
          </div>
          <div class="job"> 
            <img src="{{ url_for('static', filename='imgs/LawnCare.png')}}" class="jobImage"> 
            <a href="#" class="jobTitle"><h3>John Moore</h3></a> 
            <div class="salary"> 
              <p>Salary: $72,000</p> 
            </div> 
            <div class="jobType"> 
              <p>Job Type: Pest Control</p> 
            </div> 
            <div class="jobDescription"> 
              <p>Description:  remove unwanted creatures such as <br> 
                rodents, insects, bugs, and ants from an infested environment</p> 
            </div> 
            <img src="{{ url_for('static', filename='imgs/LikeHeart.png')}}" class="likeImage">
          </div>
      </div>

      <div class="ads">
        <img src="{{ url_for('static', filename='imgs/ad.png')}}" class="ads">
      </div>

    </div>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    {% block script %}
    {% endblock %}
    
  </body>

</html>
