#contentContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 5px black solid;
    overflow: hidden;
    cursor: pointer;
    background: clear;
}

body {background-color: grey;}
